In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.impute import MissingIndicator
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [6]:
df = pd.read_csv('E:\\Datasets\\train - train.csv',usecols = ['Age','Fare','Survived'])

df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [11]:
x = df.drop(columns = ['Survived'])

y = df['Survived']

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2,random_state=2)

In [17]:
# Check the accuracy for implementing the simple imputer

si = SimpleImputer()

si.fit(x_train)

x_train_trf = si.transform(x_train)
x_test_trf = si.transform(x_test)

In [26]:
lr = LogisticRegression()

lr.fit(x_train_trf,y_train)
y_pred = lr.predict(x_test_trf)


accuracy_score(y_pred,y_test)

0.6145251396648045

In [38]:
mi = MissingIndicator()

mi.fit(x_train)

mi_train_trf = mi.transform(x_train)

mi_test_trf = mi.transform(x_test)

mi_lr = LogisticRegression()

mi_lr.fit(mi_train_trf,y_train)
y_pred = mi_lr.predict(mi_test_trf)

accuracy_score(y_pred,y_test)

0.5586592178770949

In [40]:
x_train['missing_indicator'] = mi_train_trf

In [41]:
x_train

      Age      Fare  missing_indicator
30   40.0   27.7208              False
10    4.0   16.7000              False
873  47.0    9.0000              False
182   9.0   31.3875              False
876  20.0    9.8458              False
..    ...       ...                ...
534  30.0    8.6625              False
584   NaN    8.7125               True
493  71.0   49.5042              False
527   NaN  221.7792               True
168   NaN   25.9250               True

[712 rows x 3 columns]

In [43]:
x_test['missing_indicator'] = mi_test_trf

In [44]:
x_test

      Age     Fare  missing_indicator
707  42.0  26.2875              False
37   21.0   8.0500              False
615  24.0  65.0000              False
169  28.0  56.4958              False
68   17.0   7.9250              False
..    ...      ...                ...
89   24.0   8.0500              False
80   22.0   9.0000              False
846   NaN  69.5500               True
870  26.0   7.8958              False
251  29.0  10.4625              False

[179 rows x 3 columns]